addisonairsolution.com, www.addisonairsolution.com {
    encode gzip

    handle /api/* {
        reverse_proxy api:3001
    }

    handle /uploads/* {
        reverse_proxy api:3001
    }

    handle /health {
        reverse_proxy api:3001
    }

    handle {
        root * /srv
        try_files {path} {path}/ /index.html
        file_server
    }
}
